.Content {

}

.handleiding-titel{ 
	font-size: 16px;
	font-weight: 600;
}

//Dit is voor de home page
.container-relative{
	position: relative;
}

.slide1{
	background-repeat: no-repeat;
	background: url(../img/slider-bg-blue.png) ;
	background-position: center top;	
	height: 400px;
}

.slide2{
	background-repeat: no-repeat;
	background: url(../img/slider-bg-yellow.png) ;
	background-position: center top;	
	height: 400px;
}

.slider-imac{
	width: 300px;
	position: absolute;
	top: 50px;
	right: -800px;
}

.slider-ipad{
	position: absolute;
	top: 121px;
	right: -800px;
	width: 150px;
}

.slider-iphone{
	position: absolute;
	top: 194px;
	right: -800px;
	width: 75px;
}

.slider-h4{
	opacity: 0;	
	position: absolute;
	top: 13px;
	left: 15px;
	color: #ffffff;
	font-weight: 600;	
}

.slider-p{
	opacity: 0;	
	position: absolute;
	top: 92px;
	left: 15px;
	color: #ffffff;
	font-size: 14px;
}

.slider-button{
	opacity: 0;
	background-color: #f48022;
 	color: #ffffff;
 	border: 0px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	line-height: 10px;
  	padding: 10px;
	position: absolute;
	top: 259px;
	&:hover{
      background-color: #f19449;
   }
}


.button-meer-info, .gform_button{
	background-color: #f48022;
 	color: #ffffff;
 	border: 0px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	line-height: 10px;
  	padding: 10px;
	&:hover{
      background-color: #f19449;
   }
}

.button-meer-info-diensten{
	background-color: #f48022;
 	color: #ffffff;
 	border: 0px;
  	-moz-border-radius: 5px;
  	-webkit-border-radius: 5px;
  	border-radius: 5px;
  	line-height: 10px;
  	padding: 10px;
	&:hover{
      background-color: #f19449;
   }
}

.imac{
	position: absolute;	
	right: 100px;
	top: 35px;
	width: 320px;
}

.ipad{
	position: absolute;	
	right: 0px;	
	top: 105px;
	width: 150px;
}

.iphone{
	position: absolute;	
	right: 110px;	
	top: 175px;
	width: 75px;
}

.box-diensten{
	display: none;
	background: #ffffff;
	border-radius: 3px;
	border:1px solid #eaeaea;
	height: 359px;
	padding-top: 20px;
	position: relative;
	text-align: Center;
	top: -45px;
	&:hover{
		-webkit-box-shadow: 2px 2px 0px 0px rgba(50, 50, 50, 0.05);
		-moz-box-shadow:    2px 2px 0px 0px rgba(50, 50, 50, 0.05);
		box-shadow:         2px 2px 0px 0px rgba(50, 50, 50, 0.05);
	}
}

.box-diensten h4{
	font-weight: 300;
	margin-top: 15px;
}

.dienst-icon{
	width: 135px;
}

.box-diensten p{
	margin-bottom: 35px;
	padding:0px 5px;
	margin-top: -15px;
}

.klanten{
	font-size: 20px;
	font-weight: 300;
	margin-top: -25px;
}

.blok-logo{
	border:1px solid #eaeaea;
	text-align:center;
	padding-top:5px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
 	filter:grayscale(100%); 
  	-webkit-filter: grayscale(100%);
  	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	-webkit-transition:all 0.4s ease;
    -moz-transition:all 0.4s ease;
    -o-transition:all 0.4s ease;
	&:hover{
		-webkit-box-shadow: 2px 2px 0px 0px rgba(50, 50, 50, 0.05);
		-moz-box-shadow:    2px 2px 0px 0px rgba(50, 50, 50, 0.05);
		box-shadow:         2px 2px 0px 0px rgba(50, 50, 50, 0.05);
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
		-webkit-transition:all 0.4s ease;
        -moz-transition:all 0.4s ease;
        -o-transition:all 0.4s ease;
	}
}

.twitter-icon{
	vertical-align: middle;
	margin-right: 10px;
}

.twitter-head-titel{
	background: #024c8d;
	padding: 10px 10px;
	color: #ffffff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

//CSS voor blog gedeelte


 .blog{
   display: none;
 }

 .blog:nth-of-type(-n+1){
   display: block;
 }

 .show-all{
 	width: 100%;
	background-color: #f48022;
	color: #ffffff;
	border: 0px;
	border-radius: 5px;
	line-height: 10px;
	padding: 10px;
	height: 50px;
	outline: none;
 }

.blog-header{
	background-repeat: no-repeat;
	background: url(../img/blog-bg.png) ;
	background-position: center top;
	height: 350px;
	z-index:-1;
}

.blog-header-inhoud h2{
	color: #ffffff;
	background: #000000;
	padding: 10px;
	width: 150px;
}

.blog-header-inhoud h4{
	font-weight:300;
	color: #ffffff;
	background: #f48022;
	padding: 10px;
	display: inline;
}

.blog-inhoud{
	margin-top: 50px;
}

.blog-area{
	margin-top: 50px;
}

.blog-icon{
	vertical-align: middle;
	margin-right: 10px;
}

.blog-head-titel{
	background: #f48022;
	padding: 10px 10px;
	color: #ffffff;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.blog-content{
	padding-top: 30px;
	padding-bottom: 30px;
}

.titel-blog{
	color: #000000;
	font-size: 16px;
}

.datum-blog{
	font-size: 16px;
}

.lees-verder{
	color: #f48022;
}


.delen-titel{
	display: inline;
}

.sharethis-wrapper{
	display: inline-block;
	margin-top: 10px;
}

//Contact pagina input fields
#input_1_1, #input_1_2, #input_1_3, #input_1_4, #input_1_5, #input_1_6, #input_1_7, #input_1_8{
	width: 100%;
	border:1px solid #d5d5d5;
	border-radius: 3px;
	background: #ffffff;
}

#input_2_1, #input_2_2, #input_2_3, #input_2_4, #input_2_5, #input_2_6 , #input_2_7{
	width: 100%;
	border:1px solid #d5d5d5;
	border-radius: 3px;
	background: #ffffff;
}

//Dit is voor de over ons page
.video-area-responsive{
	position:relative;
}

.video-area{
	overflow:hidden;
	height: 350px;
	position:relative;
}

#bgvid{
	width: 100%;
}


.video-area {
	position:relative;
}

.video-area video {
    position:relative;
    z-index:0;
}

.overlay {
    position:absolute;
    top:0;
    left:0;
    z-index:1;
    width: 100%;
	color: #ffffff;
	text-align: center;
	margin-top: 70px;
	text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.59);
}

.overlay h4{
	font-weight: 300;
	font-size:18px;
}

.dienst-img{
	width: 315px;
	margin-top: 40px;
}

.dienst-img-rechts{
	width: 315px;
	margin-top: 40px;
	float: right;
}

.website-area h2 {
	font-weight: 400;
}

.over-ons-titel h2 {
	font-weight: 400;
}

.over-ons-titel h4 {
	font-weight: 300;
}

.full-bg-diensten{
	background-color: #F9F9F9;
}



//Dit is voor de ons werk page
.ons-werk-header{
	background-repeat: no-repeat;
	background: url(../img/ons-werk-header.png) ;
	background-position: center top;
	height: 350px;
	z-index:-1;
}

.showcase-onswerk{
	text-align: center;
}

.macbook-showcase {
	width: 650px;
}

.macbook-relative{
	position:relative;
}

.iframe-showcase{
	position: absolute;
	top: -195px;
	left: -77px;
	width: 1108px;
    height: 710px;
    -webkit-transform:scale(0.36);;
    -moz-transform:scale(0.36);;
    -o-transform:scale(0.36);;
    transform:scale(0.36);;
}

.row-case-blok{
	margin-top: 50px;
}

.case-blok{
	height: 175px;
	margin-bottom: 50px;
}

.dienst-thumb{
   -webkit-transition:all 0.4s ease;
   -moz-transition:all 0.4s ease;
   -o-transition:all 0.4s ease;
}


.dienst-thumb:hover{
  opacity: 0.8; 
  -webkit-transition:all 0.4s ease;
  -moz-transition:all 0.4s ease;
  -o-transition:all 0.4s ease;
}

.case-titel{
	font-size: 18px;
	font-weight: 600;
}

.show-case-bg{
	background: #dbdbdb;
	height: 350px;
	z-index: -1;
	text-align: center;
}

.showcase-image{
	width: 715px;
	margin-top: -40px;
}

//Dit is voor werkwijze page
.werkwijze-header{
	background-repeat: no-repeat;
	background: url(../img/werkwijze-header.png) ;
	background-position: center top;
	height: 350px;
	z-index:-1;
}

.werkwijze-img{
	width: 200px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.slider-werkwijze{
	margin-top: 100px;
	margin-bottom: 100px
}

.werkwijze-titel{
	font-size: 20px;
	font-weight: 600;
	margin-top: 85px;
}

.overlay-werkwijze {
    position:absolute;
    top:50;
    left:0;
    z-index:1;
    width: 100%;
	color: #000000;
	text-align: center;
	margin-top: 70px;
}

.overlay-werkwijze h4{
	font-weight: 300;
	font-size: 18px;
}

.werkwijze-uitleg-kennismaking{
	margin-top: 45px;
}

.werkwijze-uitleg-ontwikkelen{
	margin-top: 25px;
}

.werkwijze-uitleg-opleveren{
	margin-top: 25px;
}

.werkwijze-uitleg-support{
	margin-top: 55px;
}

.landingpagina-titel{
	display: inline;
	font-size: 18px !important;
}

.Content--landingspagina h2{
	font-size: 14px;
}


//Responsive gedeelte

@media all and (min-width: 600px) and (max-width: 1040px) {
	.box-diensten p{
		font-size: 11px;
	}

	.video-area-bg{
		background-repeat: no-repeat;
		background: url(../img/over-ons-bg-ipad.png) ;
		background-position: center top;
		overflow:hidden;
		height: 350px;
	}
}


@media all and (max-width: 1040px) {
	.box-diensten{
		margin-top: 20px;
	}

	.iframe-showcase{
		display: none;
	}

	.macbook-relative{
		display: none;
	}

	.Slider-responsive h4{
		color: #ffffff;
	}

	.Slider-responsive p{
		color: #ffffff;
		margin-bottom: 60px;
	}

	.Slider-responsive a{
		background-color: #f48022;
	 	color: #ffffff;
	 	border: 0px;
	  	-moz-border-radius: 5px;
	  	-webkit-border-radius: 5px;
	  	border-radius: 5px;
	  	line-height: 10px;
	  	padding: 10px;
		&:hover{
	      background-color: #f19449;
	   }
	}
	.home .bx-wrapper{
		display: none;
	}

	.video-area{
		display: none;
	}
}


@media all and (min-width: 1040px) {
	.Slider-responsive{
		display: none;
	}

	.video-area-bg{
		display: none;
	}

	.macbook-relative-responsive{
		display: none;
	}
}


@media all and (max-width: 600px) {

	.blog-content{
		padding-top: 11px;
		margin-top: 0px;
	}

	.show-case-bg{
		height: 175px;
	}

	.showcase-image{
		margin-top: -5px;
	}

	.blok-logo{
		margin-top: 20px;
	}

	.wp-post-image{
		display: none;
	}

	.twitter-head-titel{
		margin-top: 20px;
	}

	.Slider2{
		display: none;
	}

	.video-area {
		height : 100%;
	}
	.video-area video{
		width: 100%;
	}

	.ons-werk-header{
		height: 175px;
	}

	.case-blok{
		margin-bottom: 90px;
	}

	#map_canvas{
		height: 175px !important;
	}

	.macbook-showcase {
		width: 315px;
		margin-top: 10px;
	}

	.werkwijze-header{
		background-size: 200% 100%;
	}

	.overlay-werkwijze h1{
		font-weight: 300;
		font-size: 26px;
	}

	.overlay-werkwijze h4{
		font-size: 12px;
	}

	.video-area-responsive .overlay {
	    position:absolute;
	    top:0;
	    left:0;
	    z-index:1;
	    width: 100%;
		color: #ffffff;
		text-align: center;
		margin-top: 5px;
		text-shadow: 1px 1px 11px rgba(0, 0, 0, 0.59);
	}

	.werkwijze-header{
		height: 175px;
	}

	.overlay-werkwijze{
		top: 20px;
	}

	.slider-werkwijze{
		margin-top: 40px;
	}

	.video-area-bg{
		background-repeat: no-repeat;
		background: url(../img/over-ons-bg.png) ;
		background-position: center top;
		overflow:hidden;
		height: 175px;
	}

	.video-area-responsive .overlay h1{
		font-weight: 300;
		font-size: 26px;
	}

	.video-area-responsive .overlay h4{
		font-weight: 300;
		font-size: 13px;
	}
}